
<h1>Add a Contact:</h1>

<form action="/contacts" method="post">
  <div class="form-group">
    <label for="first-name">First Name:</label>
    <input id="first-name" name="first-name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="last-name">Last Name:</label>
    <input id="last-name" name="last-name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="job-title">Job Title:</label>
    <input id="job-title" name="job-title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="company">Company:</label>
    <input id="company" name="company" type="text" class="form-control">
  </div>

<h4>Address Here:</h4>

  <div class="form-group">
    <label for="street">Street:</label>
    <input id="street" name="street" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="city">City:</label>
    <input id="city" name="city" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="state">State:</label>
    <input id="state" name="state" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="zipcode">Zipcode:</label>
    <input id="zipcode" name="zipcode" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="address-type">Type:</label>
    <input id="address-type" name="address-type" type="text" class="form-control">
  </div>

<h4>Phone Number Here:</h4>

  <div class="form-group">
    <label for="area-code">Area Code:</label>
    <input id="area-code" name="area-code" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="number">Number:</label>
    <input id="number" name="number" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone-type">Type:</label>
    <input id="phone-type" name="phone-type" type="text" class="form-control">
  </div>

<h4>Email Here:</h4>

  <div class="form-group">
    <label for="address-email">Email Address:</label>
    <input id="address-email" name="address-email" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="email-type">Type:</label>
    <input id="email-type" name="email-type" type="text" class="form-control">
  </div>
  <button type="submit" class="btn bg-primary">Add Contact</button>
</form>
